@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Montserrat:wght@300;400;500;600;700;900&display=swap');

*{font-family: 'Montserrat', sans-serif;}



.first-text h1{
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    line-height: 77px;
    letter-spacing: 0em;
    text-align: left;

}

.first-text{
    width: 322px;
    height: 122px;
    top: 479px;
    left: 100px;}

.img1{
    width: 702px;
    
    top: 100px;
    left: 520px;
    border-radius: 30px;

}

.img1 img{
    width: 100%;
    height: 100%;
}

.last-text {
    width: 482px;
}

.last-text h2{
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 600;
    text-align: left;
    text-decoration: underline;
    

}
.list-item{
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: 0em;
    width: 482px;
    

}
.list-item li{
    text-decoration: underline;
}
.main-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
    width: 100%;
    height: 100%;
}

.my-div {
    padding: 3rem;
    width: 100%;
    height: 100vh;
}

